.square-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}

.player-info {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  margin-bottom: 10px;
}

.warn {
  color: red;
}

.success {
  color: green;
}

.cards-container {
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap; 
}

.button {
  width: fit-content;
  height: fit-content;
  background-color: #0d6ce7;
  color: black;
  margin: 1px;
  position: relative;
  top: 20%;
}

.button:disabled {
  background-color: #ccc;
}

.top, .bottom, .right, .left {
  height: 25%;
  width: 25%;
}

.top, .bottom {
  position: absolute; /* Needed for precise positioning */
  left: 50%; /* Align vertically center */
  transform: translateX(-50%); /* Offset by own height for perfect centering */
}

.right, .left {
  position: absolute; /* Needed for precise positioning */
  top: 50%; /* Align vertically center */
  transform: translateY(-50%); /* Offset by own height for perfect centering */
}

.top {
  top: 0; /* Align to the top edge */
}

.bottom {
  bottom: 0; /* Align to the bottom edge */
}

.right {
  right: 0; /* Align to the right edge */
}

.left {
  left: 0; /* Align to the left edge */
}

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 28px;
  margin: 0;
  padding: 0;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: green;
}

input:focus + .slider {
	box-shadow: 0 0 1px rgb(33, 219, 33);
}

input:checked + .slider:before {
	transform: translateX(20px);
}

@media screen and (max-width: 992px) {
	.info, .warn, .success {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
	.info .warn .success {
    font-size: 100%;
  }
}
